*{
    box-sizing: border-box;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(56, 56, 56);
    padding: 10px;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    color:blue;
}

.navbar li{
    text-decoration-line: none;
    position: relative;
    display: inline-block;
}

.navbar li:hover{
    display: inline-block;
    background-color:grey
}

#search{
    background-color: transparent;
    color: white;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    float: right;
    text-align: center;
    margin-top: 5px;
}

#search:focus{
    outline: 0;
}

#search::placeholder{
    color:white
}